#sides{
  border: 5px solid yellow;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: black;
  opacity:0.5;
  text-align: center;
  font-weight: bold;
    }
p{
    color: white;
    font-size:22px;
}
.moregames{
  border:5px solid blue;
  background-color: black;
  opacity:0.5;
  display:flex;
  grid-template-columns: repeat(2, 1fr);
}
#column1{
  float:left;
  width:50%
}
#column2{
  float:right;
  width:50%;
}
h2{
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  color:white;
}
em{
  color:yellow;
}
h4{
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  color:white;
}
h3{
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  color:white;
}
h1{
  color:yellow;
}
@media screen and (max-width:768px) {
  #sides {
  width:100%;
  display: block;
  border: 5px solid green;
  }
}
