#sides{
  border: 5px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: yellow;
  opacity:0.5;
  text-align: center;
  font-weight: bold;
    }
p{
    color: black;
    font-size:22px;
}
.moregames{
  border:5px solid orange;
  background-color: pink;
  opacity:0.5;
  display:flex;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
h2{
  text-align: center;
}
em{
  color:red;
}
